In [3]:
def valid_date(date):
    days = [31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    sherlock_series = [1887, 1890,1892, 1894, 1901, 1905, 1915, 1917, 1927]
    splitted = date.split('.')
    year = int(splitted[0])
    month = int(splitted[1])
    day = int(splitted[2])
    is_sherlock_book_yr = lambda x: x in sherlock_series

    if not is_sherlock_book_yr(year):
        print('This is not a publication year of the Sherlock Holmes series.')
        return False
    if month < 1 or month > 12:
        print('The month is incorrect')
        return False
    if day < 1 or day > days[month-1]:
        print('The date is incorrect')
        return False

    return True

date = input('Distinguish year, month and date by .(e.g. 1917.6.10) : ')
if valid_date(date) == True:
    print('This is the publication date of a Sherlock Holmes series')
else:
    print('This is not the publication date of a Sherlock Holmes series or the input has an error')

Distinguish year, month and date by .(e.g. 1917.6.10) :  1927.9.10

This is the publication date of a Sherlock Holmes series

In [6]:
def add(x, y):
    return x + y

print('sum of 100 and 200 :', add(100, 200))

sum of 100 and 200 : 300

In [7]:
add = lambda x,y : x + y
print('sum of 100 and 200 :', add(100, 200))

sum of 100 and 200 : 300

In [8]:
print('sum of 100 and 200 :', (lambda x,y : x + y)(100, 200))

sum of 100 and 200 : 300

In [10]:
a = [1, 2, 3, 4, 5, 6, 7]
square_a = list(map(lambda x: x**2, a))
print(square_a)

[1, 4, 9, 16, 25, 36, 49]

In [17]:
def adult_func(n):
    if n >= 19:
        return True
    else:
        return False

ages = [34, 56, 18, 14, 89, 20, 13]
print('adult list :')
for a in filter(adult_func, ages):
    print(a, end = ' ')

adult list :
34 56 89 20

In [23]:
ages = [34, 56, 18, 14, 89, 20, 13]
print('adult list :')
for a in filter(lambda x: x >= 19, ages):
    print(a, end = ' ')

adult list :
34 56 89 20

In [24]:
a = [1, 2, 3, 4, 5, 6, 7]
square_a = []
for n in a:
    square_a.append(n**2)
print(square_a)

[1, 4, 9, 16, 25, 36, 49]

In [27]:
def square(x):
    return x ** 2
a = [1, 2, 3, 4, 5, 6, 7]
square_a = list(map(square, a))
print(square_a)

[1, 4, 9, 16, 25, 36, 49]

In [28]:
a = [1, 2, 3, 4, 5, 6, 7]
square_a = list(map(lambda x: x**2, a))
print(square_a)

[1, 4, 9, 16, 25, 36, 49]

In [29]:
a = [1, 2, 3, 4, 5, 6, 7]
square_a = list(map(lambda x: x**3, a))
print(square_a)

[1, 8, 27, 64, 125, 216, 343]

In [33]:
from functools import reduce

a = [1, 2, 3, 4]
n = reduce(lambda x,y : x + y, a)
print(n)

10